
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddAdmin</title>
    <style>
        input{padding:5px;}
        div{margin:5px;}
    </style>
</head>
<body>
    <form>
        <div>
            <label>Id</label>
            <input type="number" required name="Id" />
        </div>
        <div>
            <label>name</label>
            <input type="text" required name="name" />
        </div>

    </form>
</body>
</html>
