@model List<BookStore2.Models.AuthorViewModel>

@{
    ViewData["Title"] = "Index";

}
@Model List<AuthorModel>

    <h1>Index</h1>

    <form>
        <button asp-action="AddAuthor" asp-controller="Author" class="btn btn-primary">Add Author</button>
    </form>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var author in Model)
                {
                    <tr>
                        <td>@author.Id</td>
                        <td>@author.Name</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <div class="btn-group btn-group-sm">
                                    <a href="localhost:7011/Admin/EditAdmin/id" class="btn btn-primary">Edit</a>
                                </div>
                                <div class="btn-group btn-group-sm">
                                    <a href="localhost:7011 /Admin/DeleteAdmin/{id?}" class="btn btn-danger">delete</a>
                            </div>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="2">
                        <div><p>No Authors Avaliable at the moment</p></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
