
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateAuthor</title>
</head>
<body>
    <h1> Welcome to author update page</h1>

</body>
</html>
