@model List<BookStore2.Models.UserViewModel>

@{
    ViewData["Title"] = "Index";

}
@Model List<AdminModel>

    <h1>Index</h1>

    <form>
        <button asp-action="" asp-controller="Author" class="btn btn-primary">Add Admin</button>
    </form>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var user in Model)
                {
                    <tr>
                        <td>user.Id</td>
                        <td>user.Name</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a asp-Controller="Admin" asp-action="Edit" asp-route="@user.Id" class="btn btn-primary">Edit</a>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <a asp-Controller="Admin" asp-action="delete" asp-route="@user.Id" class="btn btn-danger">delete</a>
                            </div>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="2">
                        <div><p>No Admins Avaliable at the moment</p></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
