@model List<BookStore2.Models.UserViewModel>

@{
    ViewData["Title"] = "Index";

}
@Model List<BookModel>

    <h1>Books</h1>

    <form>
        <button asp-action="AddUser" asp-controller="User" class="btn btn-primary">Add User</button>
    </form>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>
                            <form>
                                <div class="btn-group btn-group-sm">
                                    <button asp-action="Edit" asp-controller="User" asp-route-id="@user.Id" class="btn btn-primary">Edit</button>


                                </div>
                                <div class="btn-group btn-group-sm">
                                    <button asp-action="Delete" asp-controller="User" asp-route-id="@user.Id" class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="2">
                        <div><p>No User  Avaliable at the moment</p></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
