
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateBook</title>
</head>
<body>
    <h1> Soon it will be done in sha' allah</h1>
</body>
</html>
